<h1>Panel de Control</h1>
<button type="button" id="listar">Productos</button>
<button type="button" id="crear">Crear Producto</button>
<button type="button" id="editar">Editar Producto</button>
<button type="button" id="borrar">Descontinuar Producto</button>
<button type="button" id="eliminar">Eliminar Producto</button>
